
Protocol 2
Port 372
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

#HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

LogLevel VERBOSE

LoginGraceTime 2m
#PermitRootLogin prohibit-password
#StrictModes yes
MaxAuthTries 3
MaxSessions 3

UsePAM yes

AllowTcpForwarding no
GatewayPorts no
X11Forwarding yes
X11DisplayOffset 10
X11UseLocalhost yes
PrintMotd no
TCPKeepAlive no
PermitRootLogin no
PermitUserEnvironment yes
UseDNS no
#ServerAliveInterval 240
#PidFile /var/run/sshd.pid
#Banner none

AcceptEnv LANG LC_*

Subsystem	sftp	/usr/lib/openssh/sftp-server


